###BackEnd
BackEnd/.idea
BackEnd/.venv/
BackEnd/.env.*
BackEnd/.env
BackEnd/__pycache__/
BackEnd/classes/__pycache__/
BackEnd/qodana.yaml



###FrontEnd
# Node.js dependencies
FrontEnd/node_modules/

# Environment variables
FrontEnd/.env
FrontEnd/.env.*

# npm package lock
FrontEnd/package-lock.json

#Vite config Files
FrontEnd/vite.config.mjs

#JS Config Files
FrontEnd/jsconfig.node.json
FrontEnd/jsconfig.json

# Yarn
FrontEnd/yarn.lock
FrontEnd/.yarnrc.yml

#prettier
FrontEnd/.prettierrc
FrontEnd/.prettierignore

#eslint
FrontEnd/.eslintrc

#Python environment
BackEnd/.venv/

# Build output
dist/
build/

# Logs
*.log
logs/



# VSCode settings
.vscode/

# MacOS Finder settings
.DS_Store

# Windows Explorer settings
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.pid


BackEnd/.env
BackEnd/.env
BackEnd/API/__pycache__/users.cpython-312.pyc
BackEnd/API/__pycache__/supervisor.cpython-312.pyc
BackEnd/API/__pycache__/supervisor.cpython-312.pyc
